body {
	margin: 0;
	padding: 0;
	background: #141414;
	color: #ccc;
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	font-size: 12px;
	font-weight: 200;
	line-height: 1.5;
	letter-spacing: 1px;
}

#page-content {
	opacity: 0;
	filter: alpha(opacity=0);
}

footer {
	padding:20px 10px 10px 10px;
	text-align: center;
}

section {margin: 20px 10px;}
figure {margin: 20px 0;}

h1, h2, h3 {
	font-weight: 200;
	color: purple;
	text-align: center;
}

h1 {font-size: 2em;}

a {
	text-decoration:none;
	color: purple;
	-webkit-transition:all 0.4s ease-out;
	-moz-webkit-transition:all 0.4s ease-out;
	-o-webkit-transition:all 0.4s ease-out;
	transition:all 0.4s ease-out;
}
a:hover { color: #ddd; }

.button {
	display: inline-block;
	color: #ddd;
	border: 2px groove #ddd;
	background: purple;
	padding: 10px 30px;
	margin: 10px 0;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.button:hover {
	color: #ddd;
	opacity: 1;
	filter: alpha(opacity=100);
}


#navbar {
	z-index: 9999;
	background: #252525;
	padding: 10px 0;
	top: 0;
	opacity: 0.9;
	filter: alpha(opacity=90);
}
nav {
	padding: 10px;
	background: purple;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
}
nav > a { color: #ccc; }
nav > a:hover { color: white;}


#page-content {
	position: relative;
	top: 60px;
	margin: 0 10px;
}

.background-container {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.container {
	position: fixed;
	height: auto;
	width: 100%;
}

.purple { color: purple;}
.center-text { text-align:center; }

.table {
	display: block;
	width: 100%;
	vertical-align: middle;
}

.half {
	display: block;
	text-align: center;
	vertical-align: middle;
	padding: 5px;
}



/* Background images fixed position with scrolling
========================================== */

.back-image-container {
	display: block;
	height: 200px;
	opacity: 0.6;
	filter: alpha(opacity=60);
}

.back-image {
	width: 100%;
	display: table;
	height: 200px;
	background-color: #252525;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center 50px;
	background-size: 100%;
}

.back-image-text {
	color: white;
	display: table-cell;
	vertical-align: middle;
}


/* Grid behavior!
======================== */
.row { margin: auto; text-align: center;}
.sm-grid-2,
.md-grid-2,
{display: inline-block; width: 15.83333333333333%;}
.sm-grid-3,
.md-grid-3,
{display: inline-block; width: 23.75%;}
.sm-grid-4,
.md-grid-4,
{display: inline-block; width: 31.66666666666667%;}
.sm-grid-5,
.md-grid-5,
{display: inline-block; width: 39.58333333333333%;}
.sm-grid-6,
.md-grid-6,
{display: inline-block; width: 47.5%;}
.sm-grid-7,
.md-grid-7,
.lg-grid-7 {display: inline-block; width: 55.41666666666667%;}
.sm-grid-8,
.md-grid-8,
{display: inline-block; width: 63.33333333333333%;}
.sm-grid-9,
.md-grid-9,
{display: inline-block; width: 71.25%;}






/* Media Queries
================================ */

@media {min-width: 1000px) {
.lg-grid-2 {display: inline-block; width: 15.83333333333333%;}
.lg-grid-3 {display: inline-block; width: 23.75%;}
.lg-grid-4 {display: inline-block; width: 31.66666666666667%;}
.lg-grid-5 {display: inline-block; width: 39.58333333333333%;}
.lg-grid-6 {display: inline-block; width: 47.5%;}
.lg-grid-7 {display: inline-block; width: 55.41666666666667%;}
.lg-grid-8 {display: inline-block; width: 63.33333333333333%;}
.lg-grid-9 {display: inline-block; width: 71.25%;}
}

@media (min-width:700px) {
	.table {display: table;}
	.half {display: table-cell;}
	section {margin: 50px;}
}

@media (min-width:480px) {
	h1 {font-size: 4em;}

	.back-image-container,
	.back-image {
		height: 400px;
	}
} 
